# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Pods (if ever used)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots


# AI agent / Codex context
CODEx_CONTEXT.md
